[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Фёдоров Николай (Unril)
[access "refs/for/refs/*"]
	read = group user/Фёдоров Николай (Unril)
	push = group user/Фёдоров Николай (Unril)
	label-Code-Review = -2..+2 group user/Фёдоров Николай (Unril)
	label-Verified = -1..+1 group user/Фёдоров Николай (Unril)
	rebase = group user/Фёдоров Николай (Unril)
	removeReviewer = group user/Фёдоров Николай (Unril)
	submit = group user/Фёдоров Николай (Unril)
[access "refs/heads/*"]
	read = group user/Фёдоров Николай (Unril)
	create = group user/Фёдоров Николай (Unril)
	push = +force group user/Фёдоров Николай (Unril)
	pushMerge = group user/Фёдоров Николай (Unril)
[access "refs/tags/*"]
	push = group user/Фёдоров Николай (Unril)
	push = +force group user/Фёдоров Николай (Unril)
